<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>node app</title>
	<style>
		body{background: skyblue; font-family: verdana; color:#fff; padding: 30px;display:flex;flex-direction: column;}
		h1{font-size: 48px; text-transform: uppercase;letter-spacing: 2px;text-align: center;}
		h2{font-size: 16px;text-align: center;}
		form{display: flex;flex-direction:column;}
		input, textarea{margin-bottom: 10px;}
        p{font-size: 16px;text-align: center;}
	</style>
</head>
<body>
    <% include partials/nav.ejs %>
	<h1>Contact us!</h1>
    <h2>Thanks to getting in touch!</h2>
    <p>You contacted <%= data.who %> in the <%= data.department %> department.</p>
    <p>We will reply to you at <%= data.email %></p>
</body>
</html>