<html>
<head>
	<link rel="stylesheet" href="/assets/styles.css">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>node app</title>
</head>
<body>
	<% include partials/nav.ejs %>
	<h1>Welcome to the best site of the world</h1>
	<h2>You won't find a better website anywehere</h2>
</body>
</html>