<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>node app</title>
	<style>
		body{background: skyblue; font-family: verdana; color:#fff; padding: 30px;}
		h1{font-size: 48px; text-transform: uppercase;letter-spacing: 2px;text-align: center;}
		h2{font-size: 25px;text-align: center;}
	</style>
</head>
<body>
	<% include partials/nav.ejs %>
	<h1>Welcome to the profile of <%= person %></h1>
	<h2>
		<p><strong>Age: </strong><%= data.age %></p>
		<p><strong>Job: </strong><%= data.job %></p>
	</h2>
	<h1>Hobbies:</h1>
	<h2>
		<% data.hobbies.forEach(function(item){ %>
			<li><strong><%= item %></strong></li>
		<% }); %>
		</h2>
</body>
</html>